@using System.Globalization
@using TimeTracker.Indexes
@model IEnumerable<IGrouping<int, TimeTracker.Controllers.StatusController.AggregateWorkViewModel>>

@{
    ViewBag.Title = "All logs";
}

<h1>All time logged</h1>
@foreach (var week in Model)
        {
<h2>Week: @week.Key</h2>
    
            <table class="table table-bordered">
                <thead>
                    <tr><th>Date</th><th>Amount of work</th></tr>
                </thead>
                <tbody>
      
            
                    @foreach (var log in week)
                    {
                    <tr>
                        <td>@log.Date.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)</td><td>@log.AmountOfWork.ToTimeSpan().TotalHours.ToString("N1")</td>

                    </tr>    
                    } 
                </tbody>
            </table>
        }
    