@using NodaTime
@model TimeTracker.Controllers.StatusController.WorkLogStats

@{
    ViewBag.Title = "Your time tracking statistics";
}

@foreach (var m in Model.WorkPerDay)
{
    <table class="table table-bordered">
        <caption>Activity week @m.Week</caption>
        <thead>
            <tr>
                <th>Activity</th>
                <th>Mån</th>
                <th>Tis</th>
                <th>Ons</th>
                <th>Tor</th>
                <th>Fre</th>
                <th>Lör</th>
                <th>Sön</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="8" style="text-align: center">
                    Balance: @m.Balance.ToTimeSpan().TotalHours.ToString("N1")
                </th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Work</td>
                @for (int i = 1; i <= 7; i++)
                {
                    var isoDayOfWeek = (IsoDayOfWeek) i;
                    if (m.WorkLogs.ContainsKey(isoDayOfWeek))
                    {
                    <td>@m.WorkLogs[isoDayOfWeek].AmountOfWork.ToTimeSpan().TotalHours.ToString("N1")</td>
                    }
                    else
                    {
                    <td>&nbsp;</td>
                    }
                }
            </tr>
        </tbody>
    </table>
}
