@using NodaTime
@model TimeTracker.Controllers.StatusController.Flumm

@{
    ViewBag.Title = "Your time tracking statistics";
    var currentDay = LocalDate.FromWeekYearWeekAndDay(Model.FirstDay.WeekYear, Model.FirstDay.WeekOfWeekYear, IsoDayOfWeek.Monday);
}

@foreach (var m in Model.WorkPerDay)
{
    <table class="table table-bordered">
        <caption>Activity week @m.Value.Week</caption>
        <thead>
            <tr>
                <th>Activity</th>
                <th>Mån</th>
                <th>Tis</th>
                <th>Ons</th>
                <th>Tor</th>
                <th>Fre</th>
                <th>Lör</th>
                <th>Sön</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="8" style="text-align: center">
                    Balance: @m.Value.Balance.ToTimeSpan().TotalHours.ToString("N1")
                </th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Work</td>
                @for (int i = 1; i <= 7; i++)
                {
                    if (m.Value.WorkLogs.ContainsKey(currentDay))
                    {
                    <td>@m.Value.WorkLogs[currentDay].AmountOfWork.ToTimeSpan().TotalHours.ToString("N1")</td>
                    }
                    else
                    {
                    <td>&nbsp;</td>
                    }
                    currentDay = currentDay.PlusDays(1);
                }
            </tr>
        </tbody>
    </table>
}
