@model TimeTracker.ViewModels.FullCustomForm

@using (Html.BeginForm("FullCustom", "Home", FormMethod.Post, new {@class = "form-inline"}))
{
    @Html.TextBoxFor(model => model.Date, new {@Value = DateTime.Now.Date.ToShortDateString()})

    @Html.TextBoxFor(model => model.StartTime, new {@Value = string.Empty, @placeholder = "0900"})

    @Html.TextBoxFor(model => model.EndTime, new {@Value = string.Empty, @placeholder = "1700"})

    <button type="submit" class="btn">Add work</button>
}