@using NodaTime
@using TimeTracker.Models
@using TimeTracker.ViewModels
@model TimeTracker.Controllers.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<h1>Time time time</h1>
@Html.Partial("FullCustomForm", Model.Form)

@foreach (TimeLog m in Model.Logs)
{
    <div class="well">
        <strong>@m.StartTime.Date.ToShortDateString()</strong><br />

        @m.StartTime.TimeOfDay<i class="icon-chevron-right"></i>@m.Duration.TotalHours.ToString("N1")h
        
        @if (m.IsOpen())
        {
            <em>Close this work</em>
        }

        @using(Html.BeginForm("Delete", "Home", new {id = m.Id}, FormMethod.Post)) {
            <button class="close"><i class="icon-trash"></i></button>
        }
    </div>
}