@model dynamic

@{
    ViewBag.Title = "title";
}

@using (Html.BeginForm("LogOn", "Authentication", FormMethod.Post, new {@id = "openIdForm"}))
{
    <table>
        <tbody><tr>
                   <td>
                       @Html.Hidden("loginIdentifier", "https://www.google.com/accounts/o8/id")
                       <input type="submit" value="Login with google"/>
                   </td>
               </tr>
        </tbody></table>
}