<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - TimeTracker</title>
        
        <link href="/Content/bootstrap.css" rel="stylesheet">
        <style>
            body { padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ }
        </style>
        <link href="/Content/bootstrap-responsive.css" rel="stylesheet">
        
    </head>
    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">TimeTracker</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/status">Status</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container">
            @RenderBody()
        </div>
        
        <script src="http://code.jquery.com/jquery-latest.js"> </script>
        <script src="/Scripts/bootstrap.min.js"> </script>
        @RenderSection("scripts", required: false)
    </body>
</html>